body {
  background: #F5F5F5;
  overflow-y: scroll;
  overflow-x: hidden;
}

.estate {
  background: white;
  border-radius: 25px;
}

.estate:hover {
  box-shadow: 0px 32px 34px rgba(0, 0, 0, 0.133714);
}

.estate__showcase {
  height: 266px;
}

.estate__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 25px;
  border-top-RIGHT-radius: 25px;
}

.estate__contacts {
  background: lightskyblue;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 25px;
  border-top-RIGHT-radius: 25px;
}

.estate__contact {
  display: block;
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  margin: 15px;
  background: rgb(1, 127, 205);
  color: white;
}

.estate__contact:hover {
  color: white;
}

.estate__title {
  font-size: 24px;
  /* line-height: 133.3333%; */
  line-height: 1.333333;
  padding: 30px;
}

.estate__specs {
  border-top: 1px solid #E4E4E4;
  display: flex;
  justify-content: stretch;
}

.estate__spec {
  padding: 20px;
  font-size: 17px;
  line-height: 22px;
  flex-grow: 1;
  text-align: center;
  border-left: 1px solid #E4E4E4;
  width: calc(100% / 3);
}

.estate__spec:first-child {
  border-left: none;
}



.transition-opacity {
  cursor: pointer;
  position: relative;
}

.transition-opacity__front,
.transition-opacity__back {
  transition: opacity .5s;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.transition-opacity__front {
  /**/
}

.transition-opacity__back {
  opacity: 0;
}

.transition-opacity__back:hover {
  opacity: 1;
}



.transition-flip {
  cursor: pointer;
  position: relative;
  perspective: 1000px;
}

.transition-flip:hover .transition-flip__front {
  transform: rotateY(-180deg);
}

.transition-flip:hover .transition-flip__back {
  transform: rotateY(0deg);
}

.transition-flip__front,
.transition-flip__back {
  transition: transform .5s;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  backface-visibility: hidden;
}

.transition-flip__front {
  transform: rotateY(0deg);
}

.transition-flip__back {
  transform: rotateY(180deg);
}




.transition-scale-opacity {
  cursor: pointer;
  position: relative;
  perspective: 1000px;
}

.transition-scale-opacity:hover .transition-scale-opacity__front {
  transform: translateZ(1000px) rotate(1turn);
  opacity: 0;
}

.transition-scale-opacity:hover .transition-scale-opacity__back {
  transform: translateZ(0px);
  opacity: 1;
}

.transition-scale-opacity__front,
.transition-scale-opacity__back {
  transition: transform 1s, opacity 1s;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  backface-visibility: hidden;
}

.transition-scale-opacity__front {
  pointer-events: none;
  transform: translateZ(0px);
  opacity: 1;
}

.transition-scale-opacity__back {
  transform: translateZ(-1000px);
  opacity: 0;
}